* {
  padding: 0;
  margin: 0;
  font-family: "Spartan";
}

nav {
  height: 56px;
  position: fixed;
  left: 100px;
}

.nav-center {
  max-width: 1500px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav-header {
  margin: 10px 10px;
  font-size: 20px;
}

.nav-controls {
  position: fixed;
  top: 50px;
  left: 100px;
  width: 300px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.897);
  padding: 20px;
  border-radius: 20px;
}

.content {
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.render-section {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 1500px;
}

.row {
  display: flex;
  height: 100%;
  height: 5px;
  min-height: 5px;
}

.col {
  width: 5px;
  min-width: 5px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  text-align: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.change-rules-button {
  border: 1px solid gray;
  padding: 5px 7px;
  border-radius: 5px;
}

.change-rules-button:hover {
  background-color: honeydew;
  cursor: pointer;
}
